elk/*.log
*.log
*_pb2.py
*_pb2_grpc.py
*/__pycache__
docker/temp/
TODO
secret/
dist/
*.egg-info/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
