#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

# Zeek is very sensitive about line endings
*.zeek          text eol=unix
