<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="*" Name="Honeybee Hive Agent" Language="1033" Version="0.0.1.0" Manufacturer="Honeybee Hive" UpgradeCode="abdac55e-0c65-4e1e-bb1b-85ef9ce77925">
      
      <!-- ***************** -->
      <!--       PACKAGE     -->
      <!-- ***************** -->
      <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
      
      <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

      <!-- ***************** -->
      <!--   PACKAGE INFO    -->
      <!-- ***************** -->

      <!-- The app icon -->
      <Icon Id="honeybeeIcon" SourceFile="..\..\..\honeybee.ico" />
      <Property Id="ARPPRODUCTICON" Value="honeybeeIcon" />

      <Property Id="ARPURLINFOABOUT" Value="https://hnyb.app" />
      <Property Id="ARPHELPLINK" Value="https://hnyb.app" />

      <Property Id="ROOTDRIVE" Value="C:\" />

      <!-- The license text -->
      <WixVariable Id="WixUILicenseRtf" Value="..\..\..\license.rtf" />
      
      
      <!-- ***************** -->
      <!--        MEDIA      -->
      <!-- ***************** -->
      
      <MediaTemplate EmbedCab="yes" />

      <!-- ***************** -->
      <!--      FEATURES     -->
      <!-- ***************** -->
      
      <Feature Id="ProductFeature" Title="Installer" Level="1">
        <ComponentGroupRef Id="ProductComponents" />
      </Feature>

      <!-- ***************** -->
      <!-- DIRECTORY LAYOUT  -->
      <!-- ***************** -->

      <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFilesFolder">
          <Directory Id="INSTALLFOLDER" Name="Honeybee">
            <Directory Id="SERVICEFOLDER" Name="service">

            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
        <Component Id="cmpAddUser" Guid="2E4400E6-11C3-4042-86AD-E626037C2B93" KeyPath="yes">
          <util:User Id="HoneybeeServiceUser" Name="honeybee" LogonAsService="yes" UpdateIfExists="yes" RemoveOnUninstall="yes" />
        </Component>
        
        <Component Id="installHoneybeeService" Guid="B8B120EB-FEDB-4981-8211-5F5C24AFF21F">
          <File Id="HoneybeeService.exe" Source="..\HoneybeeService\bin\Debug\" Vital="yes" />
          <ServiceInstall Id="serviceInstall" Name="HoneybeeService" Type="ownProcess" Start="auto" ErrorControl="normal" DisplayName="Honeybee Service" Interactive="no" Arguments=" /start HoneybeeService"  />
          <ServiceControl Id="serviceControl" Start="install" Stop="both" Remove="both" Name="HoneybeeService" />
        </Component>

      </ComponentGroup>
      
      
      <!-- ***************** -->
      <!--   USER INTERFACE  -->
      <!-- ***************** -->

      <!-- Needed for the Install Directory UI dialog -->
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

      <UI>
        <UIRef Id="WixUI_InstallDir" />
      </UI>
      
      <!-- ***************** -->
      <!-- LAUNCH CONDITIONS -->
      <!-- ***************** -->

      <!-- Check Windows version-->
      <Condition Message= "OS must be Windows 10.">
        <![CDATA[Installed OR VersionNT < 1000]]>
      </Condition>
      
      <!-- ***************** -->
      <!--   DEPEND CHECKS   -->
      <!-- ***************** -->


      <!-- ***************** -->
      <!--  CUSTOM ACTIONS   -->
      <!-- ***************** -->

      <!-- Call the custom action -->
      <InstallExecuteSequence>
      </InstallExecuteSequence>
    </Product>
</Wix>